.main{
    &__container{  
        
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr;
            grid-template-rows: 0.5fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "main__marca main__marca main__marca"
              "main__imagen main__texto main__video"
              "main__imagen main__texto main__video";
          }
          
          &__marca { grid-area: main__marca; }
          
          &__imagen { grid-area: main__imagen; }
          
          &__texto { grid-area: main__texto; }
          
          &__video { grid-area: main__video; }
          
    
}